<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS361 Project</title>
    <script>
function initial() {
    // display instructions
    document.getElementById('instructions').style.display = 'block';
    // display as customer mode
    document.getElementById('customer').style.display = 'block';
    document.getElementById('worker').style.display = 'none';
    document.getElementById('prices-but').style.display = 'inline';
    
    document.getElementById('prices').style.display = 'none'
}
    </script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body onload="initial()">
    {{{body}}}
</body>
</html>