
<div id="parent-1">
    <div id="instructions-div"><img src="./img/instructions-newer.svg" id="instructions"></div>
    <div id="vending-machine-div">
        <img src="./img/vending-machine3.svg" id="vending-machine" class="">
        <img src="./img/snacks/yellow-chips.svg" id="yel-chips" class="">
        <img src="./img/snacks/hot-chips.svg" id="hot-chips" class="">
        <img src="./img/snacks/cheez-chips.svg" id="chz-chips" class="">
        <img src="./img/snacks/red-soda.svg" id="red-soda" class="">
        <img src="./img/snacks/green-soda.svg" id="grn-soda" class="">
        <img src="./img/snacks/blue-soda.svg" id="blu-soda" class="">
        <img src="./img/snacks/brown-choc.svg" id="brn-choc" class="">
        <img src="./img/snacks/purp-choc.svg" id="prp-choc" class="">
        <img src="./img/snacks/mint-choc.svg" id="mnt-choc" class="">
        <img src="./img/snack-prices.svg" id="prices">
    </div>
    
    <div id="keypad-div">
        <img src="./img/keypad2.svg" id="keypad">
        <div id="keypad-price"><p>21.50</p></div>
        <img src="./img/a1.svg" id="a1" onClick="itemCode('A1')">
        <img src="./img/a2.svg" id="a2" onClick="itemCode('A2')">
        <img src="./img/a3.svg" id="a3" onClick="itemCode('A3')">
        <img src="./img/b1.svg" id="b1" onClick="itemCode('B1')">
        <img src="./img/b2.svg" id="b2" onClick="itemCode('B2')">
        <img src="./img/b3.svg" id="b3" onClick="itemCode('B3')">
        <img src="./img/c1.svg" id="c1" onClick="itemCode('C1')">
        <img src="./img/c2.svg" id="c2" onClick="itemCode('C2')">
        <img src="./img/c3.svg" id="c3" onClick="itemCode('C3')">
        <img src="./img/buy.svg" id="buy">
    </div>

    <div id="bottom-buttons">
        <!--<img src="./img/mode.svg" id="mode" class="bottom-buttons" onClick="mode()">changed from toggleMode()-->
        <!--<form action="/mode" method="POST" class="bottom-buttons" id="mode-form">
            <img src="./img/mode.svg" id="mode" class="bottom-buttons">
            <input type="image" name="submit" id="mode" src="./img/mode.svg" alt="submit">
        </form>-->
        <img src="./img/mode.svg" id="mode" class="bottom-buttons">
        <img src="./img/help.svg" id="help" class="bottom-buttons" onClick="toggleHelp()">
        <img src="./img/prices-button.svg" id="prices-but" class="bottom-buttons" onClick="togglePrices()">
    </div>

    <div id="collect-div"><img src="./img/collect.svg" id="collect"></div>
    <div id="revenue-div">
        <img src="./img/uncollected.svg" class="revenue">
        <div id="uncollected-display">0.00</div>
        <img src="./img/collected.svg" class="revenue">
        <div id="collected-display">0.00</div>
    </div>

    <img src="./img/customer.svg" id="customer">
    <img src="./img/worker.svg" id="worker">
</div>
<script src="/js/main.js"></script>
